@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}

/*fonts*/
.activity-bar-caption {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #7E7E7E;
    text-transform: uppercase;
    margin: 0;
    user-select: none;
}
/*arrows*/ 
.arrows {
    width: 8px;
    height: 12px;
    user-select: none;
}


.activity-bar {
    position: fixed;
    display: flex;
    width: 5%;
    height: 100%;
    background: #333333;
}
.activity-bar-block {
    display: flex;
    width: 100%;
}
.activity-bar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style-type: none;
    user-select: none;
}
.activity-bar-list li {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.activity-bar-list li img {
    width: 29px;
    height: 30px;
}
.activity-bar-list li:nth-child(3) img {
    width: 28px;
    height: 40px;
}
.activity-bar-list li:nth-child(4) img {
    width: 33px;
    height: 33px;
}
.activity-bar-list li:hover {
    filter: contrast(2000000%);
    cursor: pointer;
}
.activity-bar-h2 {
    margin-top: 11px;
    margin-left: 27px;
    height: 33px;
}
.activity-bar-h3 {
    font-weight: bold;
    color: #B0B0B0;
    margin-left: 9px;
}

.explorer {
    position: absolute;
    float: left;
    left: 5%;
    width: 20%;
    height: 100%;
    background: #252426;
    
    border-right: 1px solid #000;
  
}
.explorer-open-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 34px;
    background: #373737;
}
.explorer-open-pages:hover {
    cursor: pointer;
}
.explorer-open-pages img {
    width: 8px;
    height: 9px;
}
.explorer-arrows {
    margin-left: 9px;
}
.explorer-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 65px;
    width: 100%;
    user-select: none;
}
.explorer-menu-ul {
    list-style: none;
    color: #B0B0B0;
    display: block;
    padding-left: 0;
    margin-top: 12px;
    flex-direction: column;
    width: 100%;
}
.explorer-menu-ul li {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}
.menu-item a {
    color: #B0B0B0;
    text-decoration: none;
    height: 30px;
}
.menu-item a:hover {
    color: #B0B0B0;
    text-decoration: none;
}
#pdf {
    filter: invert(1);
}
.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.icon-div img {
    width: 28px;
    height: 28px;
}
.works-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-icon-div img {
    width: 15px;
    height: 15px;
    filter: invert(1);
    margin-right: 11px;
}
.skills-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-icon-div img {
    width: 15px;
    height: 15px;
    margin-right: 11px;
}
#open-block-skills-div img {
    width: 8px;
    height: 12px;
    margin-right: 11px;
}
#open-block-works-div img {
    width: 8px;
    height: 12px;
    margin-right: 11px;
}
#defaultIcon img {
    width: 28px;
    height: 28px;
    filter: invert(1);
}
#folderIcon img {
    width: 18px;
    height: 18px;
}
#skillsArrow img {
    width: 8px;
    height: 10px;
    margin-right: 11px;
}
.explorer-menu-ul li:hover {
    background: rgba(238, 238, 238, 0.06);
    cursor: pointer;
}
.explorer-menu-ul img {
    padding-left: 0;
}
.first-level {
    padding-left: 27px;
}
.works-ul {
    display: none;
    width: 100%;
    padding-left: 0;
}
.works-ul li a {
    color: #B0B0B0;
    text-decoration: none;
}
.second-level {
    padding-left: 42px;
}

.menu-item {
    display: flex;
    width: 100%;
    transition: .7s;
    user-select: none;
}

.content-block {
    position: relative;
    float: left;
    left: 25%;
}
.tab {
    position: fixed;
    display: flex;
    align-items: center;
    width: 15%;
    height: 44px;
    background: #1E1E1E;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.tab-caption {
    font-family: Roboto;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: none;
    margin-left: 13px;
    display: none;
    transition: .7s;
}
.tab-line {
    position: fixed;
    left: 40%;
    width: 60%;
    height: 44px;
    background: #252426;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    user-select: none;
}
.tab-line p {
    position: absolute;
    right: 20px;
    color: #fff;
    font-family: Roboto;
    line-height: 44px;
    margin: 0;
}
.main-content {
    position: fixed;
    top: 44px;
    left: 25%;
    width: 75%;
    height: 100%;
    background: #1E1E1E;
    z-index: 0;
  
}
.numbering {
    position: absolute;
    display: block;
    width: 50px;
    height: 100%;
    text-align: center;
    user-select: none;
    
}
.numbering ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 0 0;
}
.numbering ul li {
    display: block;
    color: #525252;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.47;
    height: 19.55px;
}
.wrapper {
    margin-left: 55px;
    display: flex;
    height: 20px;
    font-family: monospace;
    color: #fff;
    font-size: 14px;
}
.title {
    margin-bottom: 10px;
}
#typed {
    position: absolute;
    top: 3px;
    width: 24ch;
}
#typed1 {
    position: absolute;
    top: 21px;
    margin-left: 15px;
}
#typed2 {
    position: absolute;
    top: 39px;
}
#typed3 {
    position: absolute;
    top: 79px;
}
#typed4 {
    position: absolute;
    top: 99px;
}
#typed5 {
    position: absolute;
    top: 137px;
}
#typed6 {
    position: absolute;
    top: 157px;
    margin-left: 15px;
}
#typed7 {
    position: absolute;
    top: 175px;
    margin-left: 15px;
}
#typed8 {
    position: absolute;
    top: 195px;
    margin-left: 15px;
}
#typed9 {
    position: absolute;
    top: 215px;
    margin-left: 30px;
}
#typed10 {
    position: absolute;
    top: 235px;
    margin-left: 15px;
}
#typed11 {
    position: absolute;
    top: 254px;
    margin-left: 15px;
}
#typed12 {
    position: absolute;
    top: 274px;
}
#typed13 {
    position: absolute;
    top: 313px;
}
#typed14 {
    position: absolute;
    top: 351px;
}
#typed15 {
    position: absolute;
    top: 371px;
}
#typed16 {
    position: absolute;
    top: 391px;
}

.aqua {
    color: #40E0D0;
}
.green {
    color: #00FF7F;
}
.white {
    color: white;
}
.gold {
    color: #FFD700;
}
.red {
    color: #ff0066;
}
.purple {
    color: purple;
}
.grey {
    color: grey;
}
@keyframes flashing-border {
    0% {
        border-color: orange;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: orange;
    }
}
@keyframes printed-text {
    from {
        width: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes border {
    from {
        border-right: none; 
    }
    to {
        border-right: none;
    }
}
.contact-main-content {
    margin-top: 0;
    z-index: 2;
}
.html-contact {
    display: none;
    margin-left: 55px;
    margin-top: -20px;
}
#cvLink {
    color: #b0b0b0;
    text-decoration: none;
}
.html-contact-text {
    color: white;
    font-family: monospace;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.45;
    margin: 0 0 0 0;
}
.html-contact-text-2 {
    color: white;
    font-family: monospace;
    overflow: hidden;
    font-size: 13.5px;
    line-height: 1.45;
    margin: 0 0 0 30px;
}
.numbering-contact {
    position: absolute;
    display: none;
    width: 50px;
    height: 100%;
    text-align: center;
    user-select: none;
}

.numbering-contact ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 0 0;
}

.numbering-contact ul li {
    color: #525252;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.47;
    height: 19.55px;
}
.skills-ul-li img {
    width: 17px;
    height: 18px;
    margin-right: 11px;
}
.js-icon {
    background-color: yellow;
}
.power-shell {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    height: 30px;
    border-top: 1px solid #7E7E7E;
    margin-bottom: 200px;
    z-index: 1000;
}
.power-shell-tabs {
    width: 100%;
    height: 30px;
    background: #1E1E1E;
}
.power-shell-tabs p {
    float: left;
    text-transform: uppercase;
    font-family: monospace;
    color: #64666B;
    font-size: 15px;
    margin: 5px 15px 5px 15px;
    padding-bottom: 5px;
    user-select: none;
}

.power-shell-tabs p:nth-child(1) {
    border-bottom: 1px solid #7E7E7E;
}
.power-shell-tabs p:hover {
    cursor: pointer;
    color: #B0B0B0;
}
.power-shell-content {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    height: 200px; 
    background: #1E1E1E;  
}
#shadyEmail {
    display: none;
}
#shadyTextInfo {
    display: none;
}
#shadyBtn {
    display: none;
}
#btn {
    background-color: rgba(0, 122, 204, 1);
    border: none;
    color: white;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    outline: none;
    font-family: Roboto, monospace;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
#btn:hover {
    cursor: pointer;
    background-color: rgb(0, 143, 238);
}
.g-recaptcha {
    margin: 10px 0 0 10px;  
}
.contact-mob-form button {
    background-color: rgba(0, 122, 204, 1);
    border: none;
    color: white;
    width: 280px;
    height: 40px;
    outline: none;
    margin-top: 35px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}
.works-li-txt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: calc(100% - 500px);
    flex-wrap: wrap;
}
.works-li-txt p {
    margin-left: 10px;
    margin-bottom: 0;
    
    color: #b0b0b0;
    font-size: 15px;
    font-family: Roboto, monospace;
    flex-wrap: wrap;
}
#nameInput {
    color: #b0b0b0;
}

#nameInput,
#nameInput-webkit-autofill:hover, 
#nameInput-webkit-autofill:focus, 
#nameInput-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #1E1E1E inset !important;
    color: #b0b0b0 !important;
}
#typed, #typed1,#typed2,#typed3,#typed4,#typed5,#typed6, 
#typed7,#typed8,#typed9,#typed10,#typed11,#typed12,#typed13 {
        user-select: none;
}
.name-content {
    font-family: monospace;
    font-size: 13px;
    color: #B0B0B0;
    margin-left: 15px;
    margin-bottom: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
}
.name-content input, .email-content input {
    background: #1E1E1E;
    color: #b0b0b0;
    border: none;
    font-family: monospace;
    outline: none;
    width: calc(100% - 50px);

}
.email-content {
    font-family: monospace;
    font-size: 13px;
    color: #B0B0B0;
    margin-left: 15px;
    margin-bottom: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}
.message-content span {
    margin-top: 1px;
    position: absolute;
    color: #B0B0B0;
}

.message-content p {
    color: #B0B0B0;
}
.message-content {
    font-family: monospace;
    font-size: 13px;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 5px;
    position: absolute;
    height: 100%;
    width: calc(100% - 10px);
    display: none;
    position: absolute;
}
.message-content textarea {
    width: calc(100% - 20px);
    margin-top: -1px;
    margin-left: 5px;
    outline: none;
    color: #fff;
    background: none;
    resize: none;
    border: none;
}
.send-content {
    display: none;
}
.send-content form {
    margin-left: 15px;
}
.html-contact-text-2 textarea {
    background: none;
    resize: none;
    border: none;
    outline: none;
    color: #fff;
}
/* works styles */
.works-image {
    position: absolute;
}
.works-image img:nth-child(2) {
    position: absolute;
    top: 36px;
    margin-left: 5px;
}
.works-header {
    position: absolute;
    display: none;
    margin-top: 24px;
    margin-left: 29px;
    width: 132px;
    height: 156px;
}
.works-caption {
    position: absolute;
    font-size: 24px;
    font-family: monospace;
    text-transform: uppercase;
    color: #B0B0B0;
    margin: 0 0 0 171px;
    top: 0;
    word-wrap: normal;
    width: 125px;
}
.works-paragraph {
    position: absolute;
    font-family: monospace;
    font-size: 18px;
    color: #B0B0B0;
    margin: 0 0 0 171px;
    width: 500px;
    top: 41px;
}
.fa-star {
    color: #D6832C;
}

.fa-star:nth-child(5), .fa-star:nth-child(4) {
    color: gray;
}
.works-about-page-paragraph {
    position: absolute;
    font-family: monospace;
    font-size: 18px;
    color: #B0B0B0;
    margin: 0 0 0 171px;
    width: 500px;
    top: 82px;
}
.works-line {
    position: absolute;
    display: none;
    top: 150px;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
}
.works-recent-projects {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 156px;
    overflow-y: auto;
}
.works-border-block  {
    width: 100%;
    position: fixed;
    height: calc(80% - 79px);
    overflow-y: scroll;
}
.works-border {
    height: 100%;
    width: 300px;
    border-right: 1px solid #C4C4C4;
}
.works-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.works-list img {
    display: flex;
    align-items: center;
    width: 265px;
    height: 150px;
}
.works-list li {
    width: 100%;
    height: 220px;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    align-items: center;
}
.works-list li div.works-border {
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-recent-projects-caption {
    font-family: monospace;
    font-size: 18px;
    color: #B0B0B0;
    margin: 0;
    padding-left: 30px;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    line-height: 35px;
}
.works-list li:nth-child(2) img {
    width: 265px;
    height: 150px;
}
.myHistory {
    display: none;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 44px);
    float: left;
}
.myHistory img {
    width: 150px;
    height: 150px;
    filter: hue-rotate(0deg);
}
.text-about-me {
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: 15px;
    line-height: 1.5;
    margin-top: 10px;
}
.text-about-me p {
    margin-top: 0;
}
.what-do-img {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(50% + 15px);
    width: 25%;
    height: 100%;
    
}
.what-div-img {
    width: 100%;
    height: 50%;
    border-left: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
}
.myHistory p {
    font-family: Roboto, monospace;
    font-size: 14px;
    color: #B0B0B0;

}
.contact-mob-caption {
    display: none;
    font-family: Roboto, monospace;
    font-size: 24px;
    font-weight: bold;
    color: #B0B0B0;
    text-align: center;
    margin-top: 25px;
}
.contact-mob-text {
    display: none;
    font-family: Roboto, monospace;
    font-size: 16px;
    font-weight: normal;
    color: #B0B0B0;
    text-align: center;
    margin-top: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
}
.contact-mob-links {
    margin-left: 3%;
    margin-right: 3%;
}
.contact-mob-text img {
    width: 24px;
    height: 24px;
}
.contact-mob-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b0b0b0;
    padding-top: 5px;
    text-decoration: none;
}
.contact-mob-content {
    display: none;
}
.mob-soc-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}
.contact-mob-form {
    display: none;
    width: 100%;
    height: 450px;
}
.contact-mob-form form {
    display: none;
    width: 100%;
    height: 370px;
}
.contact-mob-form input {
    display: none;
    width: 280px;
    height: 36px;
    background: #1A1717;
    border: 4px solid #B0B0B0;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25), -5px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
    color: #b0b0b0;
}
.contact-mob-form textarea {
    display: none;
    width: 280px;
   
    background: #1A1717;
    border: 4px solid #B0B0B0;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25), -5px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
    color: #b0b0b0;
}
.what-div-img  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.what-div-img img {
    width: 90%;
    height: 70%;
    border-radius: 10px;
}
.mob-console {
    position: absolute;
    bottom: 0;
    display: none;
    width: calc(100% - 50px);
    height: 200px;
    border-top: 1px solid #b0b0b0;
}
.mob-console p {
    display: flex;
    justify-content: flex-end;
    font-family: Roboto, monospace;
    font-size: 14px;
    color: #fff;
    right: 10px;
    margin-bottom: 0;
    
}
.console-border {
    padding-right: 5px;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.right {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
}
.first-mob-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 20px;
}
.first-mob-row p {
    font-family: Roboto, monospace;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 0 0 10px;
}
.second-mob-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: 20px;
}
.second-mob-row p {
    font-family: Roboto, monospace;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 0 0 10px;
}
.contact-mob-form form  {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#firstP {
    margin-left: 25px;
}
#secondP {
    margin-left: 25px;
}
#thirdP {
    margin-left: 25px;
}
#fourthP {
    margin-left: 25px;
}
.site-navigation {
    display: none;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #000;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.mob-main {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #B0B0B0;
}
.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    margin-left: 10px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn_active span {
  height: 0;
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-45deg);
  transform-origin: center;
}
.menu-btn_active span:after {
  transform: rotate(45deg);
  transform-origin: center;
}
.menu-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-nav__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
  }
  .menu-nav__link {
    transition: 0.5s;
    transform-origin: right center;
    transform: translateX(50%);
    opacity: 0;
  }
  .menu-nav__link_active {
    transform: translateX(0%);
    opacity: 1;
  }
  .menu-block {
    position: relative;
  }
  .site-menu {
      margin-left: 10px;
  }
  .site-menu a {
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
    transition: 0.4s;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    z-index: 0;
  }
  .site-menu a:nth-child(1) {
    transition-delay: 0.1s;
  }
  .site-menu a:nth-child(2) {
    transition-delay: 0.2s;
    
  }
  .site-menu a:nth-child(3) {
    transition-delay: 0.3s;
  
  }
  
  .menu_active a:nth-child(1) {
    transform: translate(150%, 0%);
  }
  .menu_active a:nth-child(2) {
    transform: translate(300%, 0%);
  }
  .menu_active a:nth-child(3) {
    transform: translate(450%, 0%);
  }

.vscode-img {
    position: absolute;
    display: none;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    top: 0;
    z-index: 2;
}
.vscode-img img {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 50px;
    right: 15px;
}
#up {
    display: none;
}
.mob-wrapper {
    display: none;
}
.mob-wrapper p {
    display: none;
}
.works-image p {
    display: none;
}
.mob-input {
    display: none !important;
}
@media screen and (max-width: 769px) {
    .activity-bar-caption {
        font-size: 14px;
        word-wrap: normal;
        font-weight: bold;
    }
    .what-do-img {
        display: none;
    }
    #works-items li a {
        line-height: 20px;
    }
    .works-li-txt {
        width: 100%;
       
    }
    .works-li-txt p {
        font-size: 12px;
    }
    .works-border {
        
    }
    .works-list li {
    }
    .works-caption {
        margin-left: 120px;
    }
    .works-paragraph {
        margin-left: 120px;
    }
    .works-about-page-paragraph {
        margin-left: 120px;
    }
    .first-level {
        padding-left: 15px;
    }
    .second-level {
        padding-left: 25px;
    }
    #typed8 {
        top: 215px;
    }
    #typed9 {
        top: 235px;
    }
    #typed10 {
        top: 255px;
    }
    #typed11 {
        top: 275px;
    }
    #typed12 {
        top: 295px;
    }
}

@media screen and (max-width: 426px) {
    .form-control {
        display: block;
    }
    .activity-bar {
        width: 50px;
    }
    .explorer {
        width: 100%;
        left: 50px;
        height: 100vh;
        border-right: 1px solid #000;
    }
    .main-content {
        display: none;
    }
    
    #works-items li a {
        line-height: 30px;
    }
    .tab-line {
        display: none;
        justify-content: flex-end;
        align-items: center;
    }
    .tab-line p {
        right: 0;
    }
    .first-level {
        padding-left: 27px;
    }
    .second-level {
        padding-left: 42px;
    }
    .tab {
        display: none;
        right: 0;
        width: 40%;
    }
    .contact-mob-caption {
        display: block;
    }
    .contact-mob-text {
        display: block;
    }
    .contact-mob-form {
        display: block;
    }
    .contact-mob-form form {
        display: flex;
    }
    .contact-mob-form input {
        display: block;
    }
    .contact-mob-form textarea {
        display: block;
    }
    .text-about-me {
        width: 80%;
        overflow-y: scroll;
    }
    .activity-bar-block {
        height: 100vh;
    }
    .activity-bar {
        height: 100vh;
    }
    .html-contact p {
        display: none;
    }
    #typed, #typed1,#typed2,#typed3,#typed4,#typed5,#typed6, 
    #typed7,#typed8,#typed9,#typed10,#typed11,#typed12,#typed13, #typed14, #typed15, #typed16 {
        display: none;
    }
    #wrap-per {
        display: none;
        height: 0;
    }
    .myHistory {
        display: block;
    }
    .mob-wrapper {
        display: none;
        align-items: center;
    }
    .mob-wrapper p {
        color: white;
        font-size: 10px;
        line-height: 1.47;
        display: flex;
        align-items: center;
        height: 19.55px;
    }
    .mob-first-level {
        margin-left: 20px;
        font-family: Roboto, monospace, sans-serif;
        font-size: 13px;
        margin-bottom: 0;
    }
    .mob-second-level {
        font-family: Roboto, monospace, sans-serif;
        font-size: 13px;
        margin: 0;
        margin-left: 35px;
    }
    .mob-third-level {
        font-family: Roboto, monospace, sans-serif;
        font-size: 13px;
        margin: 0;
        margin-left: 50px;
    }
    .mob-first-level-third {
        margin-left: 20px;
        font-family: Roboto, monospace, sans-serif;
        font-size: 13px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .works-li-txt {
        display: none;
    }
    .works-border {
        width: calc(100% - 50px);   
    }
    .works-recent-projects h2 {
        width: calc(100% - 50px);
        padding: 0;
        text-align: center;
    }
    .works-caption {
        display: none;
    }
    .works-paragraph {
        display: none;
    }
    .works-about-page-paragraph {
        display: none;
    }
    .works-about-page-paragraph p {
        display: none;
    }
    .works-header {
        width: calc(100% - 50px);
        height: 150px;
        margin: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .works-image {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .works-image img {
       width: 103px;
       height: 103px;
    }
    .works-image p {
        display: block;
        margin-bottom: 0;
        margin-top: 5px;
        font-family: Roboto, monospace, sans-serif;
        font-size: 15px;
        color: #B0B0B0;
        white-space: nowrap;
    }
    .power-shell {
        display: none;
        border: none;
    }
    .power-shell-tabs {
        display: none;
    }
    .power-shell-content {
        display: none !important;
    }
    .power-shell-content input {
        display: none;
    }
    .numbering-contact li {
        display: none;
    }
    #reviewForm {
        display: none;
    }
    .mob-input {
        display: flex !important;
        width: calc(100% - 100px);
        padding: 10px;
        
    }
    .contact-mob-content {
        position: fixed;
        display: none;
        width: calc(100% - 50px);
        height: 100%;
        overflow-y: scroll;
    }
    .numbering {
        width: 20px;
        display: none;
    }
    .what-do-img {
        display: none;
    }
    .what-div-img {
        display: none;
    }
}   